#battery {
  margin: 0 1.5px;
}

#memory {
  padding-bottom: 2.5px;
}

#clock {
  margin-right: 2.5px;
}

#custom-polycat {
  font-size: 20px;
}

#custom-nixos {
  font-size: 20px;
  margin-left: 2.5px;
}